@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

body, html{
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #fff;
	font-size: 16px;
	font-weight: normal;
}

a{
	font-size: 16px;
	font-weight: normal;
}
h1, .h1{
	font-size: 36px;
	font-weight: 400 !important;
}
h1.small{
	font-size: 30px;
}
h2, .h2{
	font-size: 26px;
	font-weight: 300 !important;
	line-height: 32px;
}
h3, .h3{
	font-size: 24px;
	font-weight: 300 !important;
}
h4, .h4{
	font-size: 16px;
	font-weight: 300!important;
	line-height: 22px;
}
h5, .h5{
	font-size: 20px;
	font-weight: normal !important;
}
h6, .h6{
	font-size: 14px;
	font-weight: bold !important;
}

section{
	padding: 25px 0px;
}

.vertical-center{
	display: table-cell;
	vertical-align: middle;
}
.vertical-center-parent{
	height: 100%;
}
.no-padding{
	padding: 0px;
}

#footer{
	width: 100%;
	position: fixed;
	min-height: 90px;
	color: #fff;
	font-weight: 700;
	background-color: #fff;
	bottom: 0px;
	font-size: 20px;
	text-align: center;
}
.img-menu{
	width: 50px;
}
.img-middle {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom: 5px;
}
.col-sm-15{
	width: 12.5%;
}

#footer .col-sm-2{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 70px;
}
#footer .border-right{
	border-right: 1px solid;
	border-color: #808080;
}
#footer .border-left{
	border-left: 1px solid;
	border-color: #808080;
}
/*#footer img{
	display: inline-block;
    vertical-align: middle;
	margin-top: auto;
	margin-bottom: auto;
}*/

.img-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex; /* add */
    justify-content: center; /* add to align horizontal */
    align-items: center; /* add to align vertical */
}